#agentmap {
    height: 100%;
    width: 100%;
    position: absolute;
}

#logoContainer {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 50px;
}
#mission-counter {
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 50px;
    font-size: 3em;
    color: #07bf05;
    text-shadow: 2px 2px #666666;
}
